Service References/OrtopediaService/OrtopediaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41769/OrtopediaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ortopedia.BE" />
  <xs:element name="ObtieneMailsEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMailsEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneMailsEmpresaResult" nillable="true" type="q1:ArrayOfMailsBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneTelefonosEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneTelefonosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneTelefonosEmpresaResult" nillable="true" type="q2:ArrayOfTelefonosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaExistenciaEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="empresa" nillable="true" type="q3:EmpresasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaExistenciaEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaExistenciaEmpresaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListaAcreedores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListaAcreedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneListaAcreedoresResult" nillable="true" type="q4:ArrayOfAcreedoresBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaAcreedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="acreedor" nillable="true" type="q5:AcreedoresBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaAcreedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertaAcreedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMailsAcreedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAcreedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMailsAcreedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneMailsAcreedorResult" nillable="true" type="q6:ArrayOfMailsBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneTelefonosAcreedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAcreedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneTelefonosAcreedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneTelefonosAcreedorResult" nillable="true" type="q7:ArrayOfTelefonosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDireccionesAcreedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAcreedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDireccionesAcreedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneDireccionesAcreedorResult" nillable="true" type="q8:ArrayOfDireccionesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaExistenciaAcreedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="acreedor" nillable="true" type="q9:AcreedoresBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaExistenciaAcreedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaExistenciaAcreedorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneCatalogosGenerales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoCatalogo" type="xs:int" />
        <xs:element minOccurs="0" name="filtro1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtro2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtro3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtro4" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneCatalogosGeneralesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneCatalogosGeneralesResult" nillable="true" type="q10:ArrayOfCatalogosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtro1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtro2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtro3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtro4" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneCatalogoResult" nillable="true" type="q11:ArrayOfCatalogosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="catalogo" nillable="true" type="q12:CatalogosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaCatalogoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListaMedicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apmaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="especialidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListaMedicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneListaMedicosResult" nillable="true" type="q13:ArrayOfMedicosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="medico" nillable="true" type="q14:MedicosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertaMedicoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMailsMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMedico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMailsMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneMailsMedicoResult" nillable="true" type="q15:ArrayOfMailsBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneTelefonosMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMedico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneTelefonosMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneTelefonosMedicoResult" nillable="true" type="q16:ArrayOfTelefonosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaExistenciaMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="medico" nillable="true" type="q17:MedicosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaExistenciaMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaExistenciaMedicoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListaClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apmaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListaClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneListaClientesResult" nillable="true" type="q18:ArrayOfClientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="cliente" nillable="true" type="q19:ClientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertaClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMailsCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClienteFiscal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMailsClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneMailsClienteResult" nillable="true" type="q20:ArrayOfMailsBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneTelefonosCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClienteFiscal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneTelefonosClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneTelefonosClienteResult" nillable="true" type="q21:ArrayOfTelefonosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaExistenciaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="cliente" nillable="true" type="q22:ClientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaExistenciaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaExistenciaClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListaPacientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apmaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="curp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListaPacientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneListaPacientesResult" nillable="true" type="q23:ArrayOfPacientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="paciente" nillable="true" type="q24:PacientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertaPacienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMailsPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPaciente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMailsPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneMailsPacienteResult" nillable="true" type="q25:ArrayOfMailsBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneTelefonosPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPaciente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneTelefonosPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneTelefonosPacienteResult" nillable="true" type="q26:ArrayOfTelefonosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDireccionesPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPaciente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDireccionesPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneDireccionesPacienteResult" nillable="true" type="q27:ArrayOfDireccionesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaExistenciaPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="paciente" nillable="true" type="q28:PacientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaExistenciaPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaExistenciaPacienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListaProveedores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListaProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneListaProveedoresResult" nillable="true" type="q29:ArrayOfProveedoresBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="Proveedor" nillable="true" type="q30:ProveedoresBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertaProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMailsProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMailsProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneMailsProveedorResult" nillable="true" type="q31:ArrayOfMailsBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneTelefonosProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneTelefonosProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneTelefonosProveedorResult" nillable="true" type="q32:ArrayOfTelefonosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDireccionesProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDireccionesProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneDireccionesProveedorResult" nillable="true" type="q33:ArrayOfDireccionesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneCuentasProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneCuentasProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneCuentasProveedorResult" nillable="true" type="q34:ArrayOfCuentasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaExistenciaProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="proveedor" nillable="true" type="q35:ProveedoresBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaExistenciaProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaExistenciaProveedorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListaEmpresas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneListaEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="ObtieneListaEmpresasResult" nillable="true" type="q36:ArrayOfEmpresasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Ortopedia.BE" minOccurs="0" name="empresa" nillable="true" type="q37:EmpresasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertaEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>